<!DOCTYPE html>
<html>
<head>
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" type="text/css" href="tippy.css">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="qwest.js"></script>
  <script type="text/javascript" src="history.js"></script>
  <script type="text/javascript" src="vue.js"></script>
  <script type="text/javascript"src="tippy.js"></script>
  <title>Localization</title>
</head>
<body>
  <div id="app">
    <div class="toolbar">
      <div>
        <select v-model="localeId" title="Current locale">
          <option v-for="(info, locale) in status" v-if="showMissingLocales || info.exists" :value="locale">
            {{ locale }}: {{ info.name }}
          </option>
        </select>
        <label title="Show locales that do not have a messages.json file">
          <input type="checkbox" v-model="showMissingLocales"></input>
          Show missing locales
        </label>
        <label title="Filter by message ID (regular expression)">
          Message ID:
          <input type="text" size="15" v-model="messageFilter"></input>
        </label>
        <span v-if="localeId" class="stats">
          <span class="stat" title="Messages that have not been translated; they need translating">
            <span class="missing">Missing</span> {{ status[localeId].missing.length }}
          </span>
          <span class="stat" title="Messages with English counterparts that changed since translation; the translation might need updating">
            <span class="outdated">Outdated</span> {{ status[localeId].outdated.length }}
          </span>
          <span class="stat" title="Messages that are identical to their English counterparts; they might need translating">
            <span class="identical">Identical</span> {{ status[localeId].identical.length }}
          </span>
        </span>
      </div>
      <button @click="exportJson" title="Download messages.json for this locale">Export JSON</button>
    </div>
    <table v-if="en && localeId">
      <tr>
        <th>Message ID</th>
        <th>en: English</th>
        <th>State</th>
        <th>{{ localeId }}: {{ status[localeId].name }}</th>
      </tr>
      <tr v-for="(info, id) in filter(en.messages, messageFilter)" :class="{ identical: locale.identical.includes(id), outdated: locale.outdated.includes(id), missing: locale.missing.includes(id) }">
        <td class="id" :title="info.description">{{ id }}</td>
        <td class="en-message">{{ info.message }}</td>
        <td class="state" :title="locale.identical.includes(id) ? 'This message is identical to its English counterpart; it might need translating' : (locale.outdated.includes(id) ? 'This message has an English counterpart that has been updated since the most recent translation; this translation might need updating' : (locale.missing.includes(id) ? 'This message has not been translated; it needs translating' : ''))"></td>
        <td class="locale-message">
          <textarea v-model="locale.messages[id].message"></textarea>
        </td>
      </tr>
    </table>
  </div>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
