<!DOCTYPE html>
<html>
<head>
  <base href="chrome-extension-localization/web/">
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" type="text/css" href="tippy.css">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="qwest.js"></script>
  <script type="text/javascript" src="history.js"></script>
  <script type="text/javascript" src="store.js"></script>
  <script type="text/javascript" src="vue.js"></script>
  <script type="text/javascript"src="tippy.js"></script>
  <title>Localization</title>
</head>
<body>
  <div id="app" v-cloak>
    <div class="popup" v-if="showUpdate">
      New translations are available. Load them now? <strong>You will lose any work in progress.</strong>
      <div>
        <button @click.prevent="loadUpdate()">Load Translations</button>
        <button @click.prevent="hideUpdate()">Dismiss For Now</button>
      </div>
    </div>
    <div class="popup success" v-if="showUpdated">
      New translations loaded.
    </div>
    <div class="toolbar">
      <div>
        <select v-model="localeId" title="Current locale" v-if="state">
          <option v-for="(info, locale) in state.locales" v-if="(showMissingLocales || info.exists) && (locale != 'en')" :value="locale">
            {{ locale }}: {{ info.name }}
          </option>
        </select>
        <label title="Show locales that do not have a messages.json file">
          <input type="checkbox" v-model="showMissingLocales"></input>
          Show missing locales
        </label>
        <span v-if="localeId" class="stats">
          <span class="stat" title="Messages that have not been translated; they need translating">
            <span class="missing">Missing</span> {{ locale.missing.length }}
          </span>
          <span class="stat" title="Messages with English counterparts that changed since translation; the translation might need updating">
            <span class="outdated">Outdated</span> {{ locale.outdated.length }}
          </span>
          <span class="stat" title="Messages that are identical to their English counterparts; they might need translating">
            <span class="identical">Identical</span> {{ locale.identical.length }}
          </span>
        </span>
      </div>
      <button @click="exportJson" title="Download messages.json for this locale">Export JSON</button>
    </div>
    <div class="messages" v-if="state && locale">
      <div class="cell">Message ID</div>
      <div class="cell">en: English</div>
      <div class="cell">State</div>
      <div class="cell">{{ localeId }}: {{ locale.name }}</div>
      <template v-for="(item, index) in state.template">
        <div class="cell description">
          {{ item['description'] }}
        </div>
        <div class="cell id">{{ item['id'] }}</div>
        <div class="cell en-message">{{ state.locales.en.messages[index] }}</div>
        <div class="cell state"
          :class="{ identical: locale.identical.includes(index), outdated: locale.outdated.includes(index), missing: locale.missing.includes(index) }"
          :title="locale.identical.includes(index) ? 'Identical: This message is the same as its English counterpart; it might need translating' : (locale.outdated.includes(index) ? 'Outdated: This message has an English counterpart that has been updated since the most recent translation; this translation might need updating' : (locale.missing.includes(index) ? 'Missing: This message has not been translated; it needs translating' : ''))">
        </div>
        <textarea rows="1" class="cell locale-message" v-model="locale.messages[index]"></textarea>
      </template>
    </div>
  </div>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
