<!DOCTYPE html>
<html>
<head>
  <base href="chrome-extension-localization/web/">
  <link rel="icon" type="image/png" href="favicon.png">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600">
  <link rel="stylesheet" href="lib/tippy.css">
  <link rel="stylesheet" href="lib/fontello.css">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="lib/qwest.js"></script>
  <script type="text/javascript" src="lib/history.js"></script>
  <script type="text/javascript" src="lib/store.js"></script>
  <script type="text/javascript" src="lib/vue.js"></script>
  <script type="text/javascript"src="lib/tippy.js"></script>
  <title>Localization</title>
</head>
<body>
  <div id="app" v-cloak>
    <div class="popup" v-if="showUpdate">
      New translations are available. Load them now? <strong>You will lose any work in progress.</strong>
      <div>
        <button @click="loadUpdate()"><i class="icon-download"></i>Load Translations</button>
        <button @click="hideUpdate()"><i class="icon-cancel"></i>Dismiss For Now</button>
      </div>
    </div>
    <div class="popup success" v-if="showUpdated">
      <i class="icon-ok"></i> Translations updated from the server.
    </div>
    <div class="popup success" v-if="editUrl">
      {{ locale.name }} translations copied to clipboard and downloaded as messages.json.
      <div>
        <a :href="editUrl" target="_blank"><i class="icon-git"></i>{{ locale.exists ? 'Edit' : 'Create' }} File on GitHub</a>
        <button @click="editUrl = null"><i class="icon-cancel"></i>Dismiss</button>
      </div>
    </div>
    <div v-if="state && !locale">
      <div class="toolbar">
        <a class="title" :href="'https://github.com/' + state.user + '/' + state.project">{{ state.user }}/{{ state.project }}</a>
      </div>
      <div class="index">
        <div class="criteria">
          <label title="Show locales that do not have a messages.json file">
            <input type="checkbox" v-model="showMissingLocales"></input>
            Show locales without translations
          </label>
          <div>
            <a href="https://github.com/schmich/chrome-extension-localization#translation-guide" target="_blank">
              <i class="icon-book"></i>Translation Guide
            </a>
          </div>
        </div>
        <table class="locales">
          <tr>
            <th>Exists?</th>
            <th>Locale</th>
            <th data-tip title="Messages that have not been translated; they need translating">Missing</th>
            <th data-tip title="Messages with English counterparts that changed since translation; the translation might need updating">Outdated</th>
            <th data-tip title="Messages that are identical to their English counterparts; they might need translating">Identical</th>
          </tr>
          <tr @click="navigateLocale(id)" class="locale" v-for="(lo, id) in state.locales" v-if="id != 'en' && (showMissingLocales || lo.exists)">
            <td class="exists" :class="{ yes: lo.exists }"><i :class="{ 'icon-ok': lo.exists, 'icon-cancel': !lo.exists }"></i> {{ lo.exists ? 'Yes' : 'No' }}</td>
            <td>{{ id }}: {{ lo.name }}</td>
            <td class="counter" :class="{ missing: lo.missing.length > 0 }">{{ lo.missing.length || '–' }}</td>
            <td class="counter" :class="{ outdated: lo.outdated.length > 0 }">{{ lo.outdated.length || '–' }}</td>
            <td class="counter" :class="{ identical: lo.identical.length > 0 }">{{ lo.identical.length || '–' }}</td>
          </tr>
        </table>
      </div>
    </div>
    <div v-else-if="state && locale">
      <div class="toolbar">
        <div>
          <button @click="navigateIndex()" class="index-button"><i class="icon-arrow-left"></i> Locales</button>
          <button class="toggle-button" @click="toggleMessages()"><i :class="{ 'icon-show': toggleShow, 'icon-hide': !toggleShow }"></i> {{ toggleShow ? 'Show' : 'Hide' }} All</button>
          <span class="stats">
            <span class="stat">
              <input id="show-normal" type="checkbox" v-model="showMessages.normal"></input>
              <label for="show-normal" class="normal" data-tip title="Messages without any flagged issues">Normal</label>
              {{ state.template.length - locale.missing.length - locale.outdated.length - locale.identical.length }}
            </span>
            <span class="stat">
              <input id="show-missing" type="checkbox" v-model="showMessages.missing"></input>
              <label for="show-missing" class="missing" data-tip title="Messages that have not been translated; they need translating">Missing</label>
              {{ locale.missing.length }}
            </span>
            <span class="stat">
              <input id="show-outdated" type="checkbox" v-model="showMessages.outdated"></input>
              <label for="show-outdated" class="outdated" data-tip title="Messages with English counterparts that changed since translation; the translation might need updating">Outdated</label>
              {{ locale.outdated.length }}
            </span>
            <span class="stat">
              <input id="show-identical" type="checkbox" v-model="showMessages.identical"></input>
              <label for="show-identical" class="identical" data-tip title="Messages that are identical to their English counterparts; they might need translating">Identical</label>
              {{ locale.identical.length }}
            </span>
          </span>
        </div>
        <div>
          <button @click="resetState" class="reset-button" title=""><i class="icon-trash"></i> Reset</button>
          <button @click="exportJson" class="export-button" title="Download messages.json for this locale"><i class="icon-upload"></i> Export</button>
        </div>
      </div>
      <div class="messages" v-if="state && locale">
        <div class="cell">Message ID</div>
        <div class="cell">en: English</div>
        <div class="cell">State</div>
        <div class="cell">{{ localeId }}: {{ locale.name }}</div>
        <template v-for="(item, index) in visibleTemplate">
          <div class="cell description">
            {{ item.description }}
            <span class="example" v-if="item.placeholders">
              <strong>Example:</strong> {{ substitute(state.locales.en.messages[index], item.placeholders) }}
            </span>
          </div>
          <div class="cell id">{{ item['id'] }}</div>
          <div class="cell en-message">{{ state.locales.en.messages[index] }}</div>
          <div class="cell state" data-tip
            :class="{ identical: locale.identical.includes(+index), outdated: locale.outdated.includes(+index), missing: locale.missing.includes(+index) }"
            :title="locale.identical.includes(+index) ? 'Identical: This message is the same as its English counterpart; it might need translating' : (locale.outdated.includes(+index) ? 'Outdated: This message has an English counterpart that has been updated since the most recent translation; this translation might need updating' : (locale.missing.includes(+index) ? 'Missing: This message has not been translated; it needs translating' : ''))">
          </div>
          <div class="cell locale-message">
            <textarea placeholder="(click to add translation)" rows="1" v-model="locale.messages[index]"></textarea>
          </div>
        </template>
      </div>
      <div class="show-messages" v-if="Object.keys(visibleTemplate).length === 0">
        All messages are hidden.<br>
        <button class="show-messages-button" @click="toggleMessages()">Show All</button>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
