body, html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: sans-serif;
  font-size: 17px;
  background: #e5e5e5;
}
.toolbar label {
  margin-left: 20px;
}
.toolbar button {
  border: 0;
  padding: 7px 20px;
  background: #4444ff;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.toolbar select, .toolbar input {
  font-size: 17px;
}
.toolbar .stats {
  margin-left: 20px;
}
.toolbar .stat {
  margin: 0 10px;
  cursor: help;
}
.toolbar .stat span {
  padding: 3px 5px;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
table {
  width: 100%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #888;
}
th, td {
  padding: 8px;
}
th {
  font-family: sans-serif;
  background: #f3f3f3;
}
td:last-of-type {
  padding: 0;
}
td.id {
  font-family: Monaco, Consolas, 'Courier New';
  font-size: smaller;
  width: 10%;
}
td.en-message {
  white-space: pre-line;
  width: 30%;
}
td.state {
  width: 30px;
}
td.locale-message {
  width: auto;
  height: 100%;
  position: relative;
}
td.locale-message textarea {
  border: 0;
  font-family: serif;
  font-size: 16px;
  color: #000;
  box-sizing: border-box;
  padding: 4px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}
td.state {
  font-family: monospace;
  font-size: 15px;
  text-align: center;
}
tr.missing td.state, span.missing {
  background: #ffaaaa;
}
tr.missing td.state:after {
  content: 'MISS';
}
tr.identical td.state, span.identical {
  background: #ffffaa;
}
tr.identical td.state:after {
  content: 'SAME';
}
tr.outdated td.state, span.outdated {
  background: #ccc;
}
tr.outdated td.state:after {
  content: 'OLD';
}
tr.missing td.state, tr.identical td.state, tr.outdated td.state {
  cursor: help;
}
.tippy-tooltip {
  font-size: 15px;
  font-family: sans-serif;
  line-height: 150%;
  font-weight: 600;
}
