body, html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
[v-cloak] {
  display: none;
}
.toolbar {
  min-height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  background: #bbddff;
  border-bottom: 3px solid #aaccff;
  border-top: 3px solid #aaccff;
}
.toolbar .title {
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}
.toolbar label {
  cursor: pointer;
}
.export-button {
  border: 0;
  padding: 7px 30px;
  background: #4444ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
	box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.5);
}
.index-button {
  border: 0;
  border-radius: 5px;
  background: #fdfdfd;
  padding: 7px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 20px;
	box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.5);
}
.index-button .arrow {
  position: relative;
  top: -1px;
  font-weight: bold;
  margin-right: 3px;
}
.index-button:hover {
  background: #fff;
}
.show-messages-button {
  margin-top: 20px;
  border: 0;
  padding: 10px 30px;
  background: #4444ff;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
	box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.5);
}
.toggle-button {
  font-size: 16px;
  border: 0;
  outline: 0;
  background: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.toggle-button i, .toggle-button:hover {
  color: #3333ee;
}
.toolbar select, .toolbar input {
  font-size: 17px;
}
.toolbar input[type="checkbox"] {
  cursor: pointer;
  position: relative;
  top: -2px;
}
.toolbar .stats {
  margin-left: 10px;
}
.toolbar .stat {
  margin: 0 10px;
  cursor: help;
}
.toolbar .stat label {
  padding: 3px 9px;
	box-shadow: 0px 3px 2px -2px rgba(0, 0, 0, 0.5);
}
.messages {
  display: grid;
  grid-template-columns: auto 30fr 80px 70fr;
  grid-auto-rows: auto;
}
.cell {
  padding: 8px;
  border-width: 0;
  border-color: #777;
  border-style: solid;
  border-left-color: #e7e7e7;
  border-left-width: 1px;
  box-sizing: border-box;
}
.cell:nth-child(5n + 5) {
  border-top-width: 1px;
}
.cell:nth-child(-n + 4) {
  border-top-width: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  background: #e7e7e7;
}
.cell:nth-last-child(-n + 4) {
  border-bottom-width: 1px;
}
.description {
  grid-column: 1 / span 4;
  background: #f7f7f7;
  padding: 12px;
  color: #444;
}
.show-messages {
  font-size: 20px;
  border-top-width: 1px;
  background: #fffff0;
  text-align: center;
  padding: 100px 0;
}
.example {
  font-style: italic;
}
.example strong {
  font-style: normal;
  font-weight: bold;
}
.id {
  font-family: Monaco, Consolas, 'Courier New';
  font-size: smaller;
}
.en-message {
  white-space: pre-line;
}
.locale-message {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
.locale-message textarea {
  border: 0;
  outline: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  font-family: serif;
  font-size: 16px;
}
.locale-message textarea:focus {
  background: #fffff0;
}
.state {
  font-family: monospace;
  font-size: 15px;
  position: relative;
}
.state:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.normal {
  background: #fff;
}
.missing {
  background: #ffaaaa;
}
.outdated {
  background: #88aaff;
}
.identical {
  background: #ffffaa;
}
.state.missing:after {
  content: 'MISS';
}
.state.identical:after {
  content: 'IDEN';
}
.state.outdated:after {
  content: 'OUTD';
}
.state.missing, .state.identical, .state.outdated {
  cursor: help;
}
.tippy-tooltip {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-weight: 600;
}
.popup {
  text-align: center;
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  max-width: 700px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 20px 30px;
  background: #ffffcc;
  z-index: 1;
	-moz-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  line-height: 200%;
}
.popup.success {
  background: #ccffcc;
}
.popup button {
  outline: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  color: #0000ff;
}
.popup button:last-of-type {
  margin-left: 30px;
}
.locales {
  width: 50%;
  min-width: 600px;
  max-width: 800px;
  border: 0;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  border-collapse: collapse;
}
.locales td, .locales th {
  border: 0;
  margin: 0;
  padding: 6px;
}
.locales th {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  background: #e7e7e7;
  border-width: 1px 0;
  border-color: #777;
  border-style: solid;
}
.locales .locale:hover td {
  cursor: pointer;
  background: #fffff0 !important;
  color: #555550 !important;
}
.locales .counter, .locales .exists {
  text-align: center;
  font-family: monospace;
  font-size: smaller;
}
.locales .exists {
  background: #f7f7f7;
}
.locales .exists.yes {
  background: #aaffaa;
}
