body, html {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
[v-cloak] {
  display: none;
}
.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-size: 17px;
  background: #ddd;
}
.toolbar label {
  margin-left: 20px;
}
.toolbar button {
  border: 0;
  padding: 7px 20px;
  background: #4444ff;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
  border-radius: 5px;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.toolbar select, .toolbar input {
  font-size: 17px;
}
.toolbar input[type="checkbox"] {
  position: relative;
  top: -2px;
}
.toolbar .stats {
  margin-left: 20px;
}
.toolbar .stat {
  margin: 0 10px;
  cursor: help;
}
.toolbar .stat span {
  padding: 3px 9px;
	-moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.messages {
  display: grid;
  grid-template-columns: auto 30fr 80px 70fr;
  align-items: stretch;
  border-collapse: collapse;
  grid-auto-rows: auto;
}
.cell {
  padding: 8px;
  border-width: 0;
  border-color: #555;
  border-style: solid;
  border-left-color: #e7e7e7;
  border-left-width: 1px;
}
.cell:nth-child(5n + 5) {
  border-top-width: 1px;
}
.cell:nth-child(-n + 4) {
  border-top-width: 1px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 8px;
  background: #e7e7e7;
}
.description {
  grid-column: 1 / span 4;
  background: #f7f7f7;
  padding: 10px;
  color: #555;
}
.id {
  font-family: Monaco, Consolas, 'Courier New';
  font-size: smaller;
}
.en-message {
  white-space: pre-line;
}
.locale-message {
  padding: 3px 6px;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
  font-family: serif;
  font-size: 16px;
  min-height: 0;
}
.locale-message:focus {
  background: #fffff0;
}
.state {
  font-family: monospace;
  font-size: 15px;
  position: relative;
}
.state:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.state.missing, span.missing {
  background: #ffaaaa;
}
.state.missing:after {
  content: 'MISS';
}
.state.identical, span.identical {
  background: #ffffaa;
}
.state.identical:after {
  content: 'IDEN';
}
.state.outdated, span.outdated {
  background: #ccc;
}
.state.outdated:after {
  content: 'OUTD';
}
.state.missing, .state.identical, .state.outdated {
  cursor: help;
}
.tippy-tooltip {
  font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  line-height: 150%;
  font-weight: 600;
}
.popup {
  text-align: center;
  position: fixed;
  top: 30%;
  left: 0;
  right: 0;
  max-width: 700px;
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 20px 30px;
  background: #ffffcc;
  z-index: 1;
	-moz-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.4);
	box-shadow: 0px 10px 15px -5px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  line-height: 200%;
}
.popup.success {
  background: #ccffcc;
}
.popup button {
  outline: 0;
  padding: 0;
  border: 0;
  background: transparent;
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
  color: #0000ff;
}
.popup button:last-of-type {
  margin-left: 30px;
}
